::-webkit-scrollbar {
  display: none;
}

.App {
  text-align: center;
}

.MuiLoadingButton-loadingIndicator {
  color: rgb(25, 118, 210) !important;
}

.rotator {
  margin: 0px 10px;
}

.rotateUp {
  color: goldenrod;
  text-align: center;
  animation: revealUp 5s linear 0s infinite alternate;
}

.rotateDown {
  color: skyblue;
  text-align: center;
  transform: translateY(-50%);
  animation: revealDown 5s linear 0s infinite alternate;
}

@keyframes revealUp {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes revealDown {
  0% {
    transform: translateY(-50%);
  }
  40% {
    transform: translateY(-50%);
  }
  60% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(0%);
  }
}
